body {
    background-color: #3492d1;
}

.block1 {
    height: 120px;
    background-color: white;
    margin: 0;
    display: flex;

}

.block2 {
    height: 580px;
    background-color: skyblue;
    margin: 0;


}

#icon {
    width: 20%;
    height: 120px;

}

#random-text {
    width: 80%;
    height: 120px;
    text-align: center;
    font-family: "GmarketSans";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
    font-weight: normal;
    font-style: bold;
    font-size: 150%;
    padding: 14px;
}

@font-face {
    font-family: "GmarketSans";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }