<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/Main.css">
    <title>BluePrint</title>  
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/public/js/function.js"></script>
  </head>
  <body>
      <div id="box2" style="display: flex; height: 580px; width: 100%;">
        <div id="showlist" class="sectionlist" style="background-color:white; width: 60%; height: 580px; overflow: scroll;">
          <section class="fade-class" id="intro1" style="margin: 200px; margin-bottom: 300px;">
            <h1>⬅️체크 리스트를 완료 하셨나요?</h1>
            <P style="color:gray;">완료 하셨다면 아래로 스크롤 하세요↓</P>
          </section>
          <section class="fade-class" id="intro2" style="margin-top: 300px;"></section>
          <section class="fade-class" id="intro3" style="margin-top: 300px;"></section>
          <section class="fade-class" id="intro4" style="margin-top: 300px;"></section>
          <section class="fade-class" id="intro5" style="margin-top: 300px;"></section>
          <section class="fade-class" id="intro6" style="margin-top: 300px;"></section>
        </div>
        <div style="display: block; width: 40%; height: 580px; background-color: azure;">
          <div id="map" style="width:100%;height: 300px;"></div>
          
          <!-- 카카오 API로 지도 불러오는 코드  -->
          <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3da6a0c225151a076819c6ae8e68d48a"></script>
          <script>
            var mapContainer = document.getElementById('map');
            var mapOption = {
              center: new kakao.maps.LatLng(33.450701, 126.570667),
              level: 3
            };
            var map = new kakao.maps.Map(mapContainer, mapOption);  
          </script>           
          <div style="background-color: rgb(251, 255, 175); width: 100%; height: 280px; display:inline-block;">
            <p id="checkList" style="color: rgb(41, 41, 41); margin-top: 0%; margin-bottom: 0%; font-size: large;"> /// Sticky Note /// </p>
            <p id="checkList" style="color: rgb(104, 104, 104); margin-top: 0%; margin-bottom: 0%; font-size: small;"> 오늘의 운동 리스트 등을 작성해보세요! </p>
            <div style="display: flex;">
              <div id="StickyNote" style="width: 60%;" ></div>
              <div style="width: 40%;">
                <textarea id="memo" style="margin-top: 90%;"></textarea>
                <div>
                  <button onclick="saveNote()">저장</button>
                  <button onclick="clearNote()">삭제</button>
                  <button onclick="loadNote()">불러오기</button>
                </div>
              </div>
            </div>
          </div>
      </div>
  </body>
</html>
