<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/Main.css">
    <link rel="icon" href="/image/3d-print.ico" type="image/x-icon" />
    <title>BluePrint</title>  
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/public/js/function.js"></script>
  </head>
  <body>
    <div class="block1">
      <div id="icon">
        <img src="/image/image1.jpg" width="70%" height="70%"  onclick="gomain()"/>
      </div>
      <div id="random-text"></div>
      <script>
        fetch('/json/text.json')
          .then(response => response.json())
          .then(data  => {
          const entries = data.entries;
          const randomIndex = Math.floor(Math.random() * entries.length);
          const selectedEntry = entries[randomIndex];
          const outputDiv = document.getElementById('random-text');
          outputDiv.innerHTML = 
            `오늘의 한마디 : ${selectedEntry.text}<br>${selectedEntry.person}`;
          })
          .catch(error => console.error(error));
      </script>
    </div>
    <div class="block2">
      <div id="box1">
        <form  action="/views/MainPage.html" method="get" accept-charset="utf-8" id="myForm" onsubmit="return AlertCheckbox1()">
          <div id="data">
            <p style="margin-bottom: 0%;"><label for="height" style="font-size: large; color: cornflowerblue;">키</label></p>
            <input type="text" id="cm" name="height" style="margin-left: 10px;"> cm
          </div>
          <div id="data">
            <p style="margin-bottom: 0%;"><label for="weight" style="font-size: large; color: cornflowerblue;">몸무게</label></p>
            <input type="text" id="kg" name="weight" style="margin-left: 10px;"> kg
          </div>
          <div id="data">
            <p style="margin-bottom: 0%;"><label for="gender" style="font-size: large; color: cornflowerblue;">성별</label></p>
            <input type="checkbox" class="checkbox1"  name="gender1" style="margin-left: 10px;"> (남자)
            <input type="checkbox" class="checkbox1" name="gender2" style="margin-left: 30px;"> (여자)
          </div>
          <div id="data">
            <p style="margin-bottom: 0%;"><label for="number" style="font-size: large; color: cornflowerblue;">운동횟수</label></p>
            <div>
              <div>
                <input type="checkbox" class="checkbox2"  name="number1" style="margin-left: 20px;"> 주 1회 미만
              </div>
              <div>
                <input type="checkbox" class="checkbox2"  name="number2" style="margin-left: 20px;"> 주 1회 이상 3회 미만
              </div>
              <div>
                <input type="checkbox" class="checkbox2"  name="number3" style="margin-left: 20px;"> 주 3회 이상 5회 미만
              </div>
              <div>
                <input type="checkbox" class="checkbox2"  name="number4" style="margin-left: 20px;"> 주 5회 이상
              </div>
            </div> 
          </div>
          <div id="data">
            <p style="margin-bottom: 0%;"><label for="time" style="font-size: large; color: cornflowerblue;">운동시간</label></p>
            <div>
              <div>
                <input type="checkbox" class="checkbox3" name="time1" style="margin-left: 20px;"> 30분 미만
              </div>
              <div>
                <input type="checkbox" class="checkbox3" name="time2" style="margin-left: 20px;"> 30분 이상 1시간 미만
              </div>
              <div>
                <input type="checkbox" class="checkbox3" name="time3" style="margin-left: 20px;"> 1시간 이상 2시간 미만
              </div>
              <div>
                <input type="checkbox" class="checkbox3" name="time4" style="margin-left: 20px;"> 2시간 이상
              </div>
            </div>
          </div>
          <div id="data">
            <p style="margin-bottom: 0%;"><label for="meal" style="font-size: large; color: cornflowerblue;">식사량</label></p>
            <p style="font-size: small; color: gray; margin-top: 0%; margin-left: 10px; margin-bottom: 0%;">(평균적인 식습관 생각해주세요)</p>
            <div>
              <div>
                <input type="checkbox" class="checkbox4" name="meal1" style="margin-left: 20px;"> 하루 3끼
              </div>
              <div>
                <input type="checkbox" class="checkbox4" name="meal2" style="margin-left: 20px;"> 하루 2끼
              </div>
              <div>
                <input type="checkbox" class="checkbox4" name="meal3" style="margin-left: 20px;"> 하루 1끼
              </div>
            </div>
          </div>
          <div id="data">
            <p style="margin-bottom: 0%;"><label for="disease" style="font-size: large; color: cornflowerblue;">보유질병</label></p>
            <p style="font-size: small; color: gray; margin-top: 0%; margin-left: 10px; margin-bottom: 0%;">(중복 선택 가능)</p>
            <div>
              <div>
                <input type="checkbox" class="checkbox5" name="disease1" style="margin-left: 20px;"> 디스크(허리, 목 등)
              </div>
              <div>
                <input type="checkbox" class="checkbox5" name="disease2" style="margin-left: 20px;"> 당뇨
              </div>
              <div>
                <input type="checkbox" class="checkbox5" name="disease3" style="margin-left: 20px;"> 호흡기질환
              </div>
            </div>
          </div>
          <div id="data">
            <p style="margin-bottom: 0%;"><label for="goal" style="font-size: large; color: cornflowerblue;">사용목적</label></p>
            <div>
              <div>
                <input type="checkbox" class="checkbox6" name="goal1" style="margin-left: 20px;"> 체중 감량
              </div>
              <div>
                <input type="checkbox" class="checkbox6" name="goal2" style="margin-left: 20px;"> 단순 건강관리
              </div>
              <div>
                <input type="checkbox" class="checkbox6" name="goal3" style="margin-left: 20px;"> 재활치료
              </div>
            </div>
          </div>
          <button id="clickbtn" class="w-btn-outline w-btn-blue-outline" type="submit">제출</button>
        </form>
      </div>
      <div id="box2">
        <div style="width: 100%;">
        <h1 style="text-align: center; margin-top: 240px; color: white;">⬅️정보를입력해주세요</h1>
        </div>
    </div>
  </body>
</html>
